$task-primary-color: #54777b;
$task-secondary-color: #d1e1e1;
$task-white-color: #f8f8f8;
$task-light-gray: #e5e5e5;
$task-gray: #c4c4c4;

$primary: $task-primary-color;
$secondary: $task-secondary-color;
$body-bg: $task-white-color;

@import "../../node_modules/bootstrap/scss/bootstrap";

body {
  font-family: "Rubik", sans-serif;
}

.jumbotron {
  background: $secondary;
}

.required {
  color: red;
}

.not {
  display: none;
}

.rowHeightLight {
  font-weight: bold;
}

.overdue {
  background: #f7dce5;
}

.warning {
  background: #f7dce5;
}

.taskCompleted {
  text-decoration: line-through;
}
